@import url(https://fonts.googleapis.com/css?family=Rosarivo:regular,italic);
* {
    margin: 0;
    font-family: Rosarivo;
}

body {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.status-block {
    display: flex;
    width: 30vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.status-block-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 5vw;
    height: 5vw;
    border-radius: 60px;
    background-color: #AC8F64;
}

.status-block img {
    width: 2vw;
    height: 2vw;
}

.status-block-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 3vw;
    height: 3vw;
    background-color: #AC8F64;
    border-radius: 50px;
}

#search-input {
    width: 35vw;
    padding: 5px;
    border-radius: 10px;
}